@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.)
            </th>
        </tr>
    </thead>
</table>    using Microsoft.EntityFrameworkCore.Metadata.Internal;
